.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-stretch {
  align-items: stretch;
}

.grow1 {
  flex: 1 1 0;
}

.grow2 {
  flex: 2 1 0;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
